<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>scrollText</title>
	</head>
	<body>
		<div class="m-scrollText"></div>
		<!-- js -->
		<script type="text/javascript" src="../js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="../js/jquery.scrollText.js"></script>
		<script type="text/javascript">
			$('.m-scrollText').scrollText({
				content:['hytes****@163.com','huhai145@163.com','hongyang@year.com','hytest567@vip.163.com','hytest163@vip.163.com','hytest123@vip.126.com','hytest111@vip.163.com','hytest456@vip.126.com']		
			});
		</script>
	</body>
</html>